a {
 color:#ffd966;
 font-size: 30px;
  }
body {
background-color:  #3d2eb8;
  }

b {
 font-size: 30px;
 color:#ffff00;
 }

footer {
 background-color:  #d685cc;
 }

p {

color:#ffff00;
 }

h3 {
 color:#ff7c55;
 }
  
h2 {
color:#ffff00;
 }